Repository DanielWarg/AliceV2: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-fibonacci-docs, update-cache-docs, generate-api-docs, validate-documentation, update-mkdocs-config, auto-update-docs

update-fibonacci-docs:
  name: Update Fibonacci Documentation
  entry: python scripts/auto_docs/update_fibonacci_docs.py
  language: system
  pass_filenames: false
  always_run: false

update-cache-docs:
  name: Update Cache Performance Documentation
  entry: python scripts/auto_docs/update_cache_docs.py
  language: system
  pass_filenames: false
  always_run: false

generate-api-docs:
  name: Generate API Documentation
  entry: python scripts/auto_docs/generate_api_docs.py
  language: system
  pass_filenames: false
  always_run: false

validate-documentation:
  name: Validate Documentation Quality
  entry: python scripts/auto_docs/documentation_validator.py
  language: system
  pass_filenames: false
  always_run: false

update-mkdocs-config:
  name: Update MkDocs Configuration
  entry: python scripts/auto_docs/mkdocs_config_generator.py
  language: system
  pass_filenames: false
  always_run: false

auto-update-docs:
  name: Auto-Update Documentation System
  entry: python scripts/auto_docs/auto_update_manager.py --dry-run
  language: system
  pass_filenames: false
  always_run: false

📋 CRITICAL: Update all port documentation with verified test results
  .pre-commit-config.yaml
  AGENTS.md
  ALICE_SYSTEM_BLUEPRINT.md
  PORT_REFERENCE.md
  README.md
Due: validate-documentation, update-mkdocs-config, auto-update-docs

📋 DOCUMENTATION UPDATE: Add prioritized backlog + training code reference
  AGENTS.md
  COMPLETE_TRAINING_CODE_REFERENCE.md
  PRIORITIZED_BACKLOG.md
Due: validate-documentation

🔧 FIX: Add missing SLO threshold attributes for status API
  services/orchestrator/src/utils/slo_monitor.py
Due: generate-api-docs, auto-update-docs

✅ CRITICAL FIXES COMPLETE: Voice service stabilized + E2E chat verified
  docker-compose.yml
  services/voice/requirements.txt
Due: auto-update-docs

🧮 ALICE vNEXT STEP 2 COMPLETE: Parallel Evolution Engine + Advanced RL Pipeline
  Makefile
  alice_parallel_evolution.py
  services/guardian/src/core/guardian_state.py
  services/orchestrator/src/utils/slo_monitor.py
  services/rl/checks/data_quality_check.py
  services/rl/pipelines/build_dataset.py
  services/rl/pipelines/build_episodes.py
  services/rl/pipelines/dataset_schemas.py
  services/rl/pipelines/utils_io.py
  services/rl/pipelines/validate_schemas.py
  services/rl/rewards/reward_shaping.py
  services/rl/services/toolselector/train_lora_simplified.py
  services/rl/simple_dataset_builder.py
  services/rl/slo_gates.py
  services/toolselector/train_lora.py
  services/toolselector/train_lora_simplified.py
Due: generate-api-docs, auto-update-docs

🎯 T4 COMPLETE: Online Bandits + Production Validation
  Makefile
  artefacts/rl_bench/env.txt
  artefacts/rl_bench/git.txt
  artefacts/rl_bench/latency_hist.csv
  artefacts/rl_bench/qps_by_mode.csv
  artefacts/rl_bench/summary.json
  data/rl/v1.1/MANIFEST.json
  data/rl/v1.1/SUMMARY.md
  services/orchestrator/src/rl_orchestrator.py
  services/orchestrator/src/rl_policy.py
  services/orchestrator/src/router/route_decider.py
  services/orchestrator/src/tools/tool_selector.py
  services/rl/benchmark/rl_benchmark.py
  services/rl/offline/replay_bandits.py
  services/rl/online/linucb_router.py
  services/rl/online/routing_linucb.py
  services/rl/online/thompson_tools.py
  services/rl/online/tool_thompson.py
  services/rl/persistence/bandit_store.py
  services/rl/pipelines/dataset_schemas.py
  services/rl/replay/replay_from_episodes.py
  services/rl/rewards/phi_reward.py
  services/rl/state/linucb.json
  services/rl/state/thompson.json
  services/rl/weights/bandits/linucb.json
  services/rl/weights/bandits/thompson.json
Due: generate-api-docs, validate-documentation, auto-update-docs

🎯 ALICE T4-T6 COMPLETE: Live Bandit RL + ToolSelector v2 + GBNF
  .github/workflows/rl-bench.yml
  .github/workflows/rl-live-wire.yml
  .github/workflows/rl-toolselector.yml
  AGENTS.md
  Makefile
  PROJECT_STATUS.md
  README.md
  artefacts/rl_bench/env.txt
  artefacts/rl_bench/git.txt
  artefacts/rl_bench/summary.json
  data/rl/snapshots/bandit_snapshot_1757262191/metadata.json
  scripts/demo_rl_ci.sh
  services/orchestrator/src/rl_orchestrator.py
  services/orchestrator/src/rl_policy.py
  services/orchestrator/src/router/bandit_client.py
  services/orchestrator/src/router/route_decider.py
  services/orchestrator/src/tools/tool_schema.gbnf
  services/orchestrator/src/tools/tool_selector.py
  services/orchestrator/src/tools/tool_selector_v2.py
  services/rl/bench/benchmark_runner.py
  services/rl/benchmark/rl_benchmark.py
  services/rl/offline/replay_bandits.py
  services/rl/online/linucb_router.py
  services/rl/online/routing_linucb.py
  services/rl/online/server.py
  services/rl/online/thompson_tools.py
  services/rl/online/tool_thompson.py
  services/rl/persistence/bandit_store.py
  services/rl/persistence/rotate.py
  services/rl/pipelines/dataset_schemas.py
  services/rl/replay/replay_from_episodes.py
  services/rl/requirements.txt
  services/rl/rewards/phi_reward.py
  services/rl/train_toolselector_lora.py
  services/rl/weights/toolselector/v2/config.json
  services/rl/weights/toolselector/v2/lora_weights.json
Due: generate-api-docs, validate-documentation, update-mkdocs-config, auto-update-docs

📝 AGENTS.md: Add T5-T6 documentation
  AGENTS.md
Due: validate-documentation

🚀 T7 DEPLOYMENT: Complete preference optimization + canary system
  .github/workflows/canary-watch.yml
  .github/workflows/rl-prefs.yml
  AGENTS.md
  DEPLOYMENT.md
  Makefile
  T1_T6_GO_NOGO_VALIDATION.py
  T1_T6_HARDENING_CHECKLIST.md
  T1_T6_VALIDATION_REPORT.json
  data/rl/prefs/v1/report.json
  ops/dashboards/telemetry_schema.json
  ops/runbooks/CANARY.md
  ops/scripts/canary_promote.py
  ops/scripts/canary_rollback.py
  orchestrator/src/response/generator.py
  orchestrator/src/response/verifier_client.py
  services/rl/pipelines/dataset_schemas.py
  services/rl/pipelines/drift_monitor.py
  services/rl/pipelines/pii_masker.py
  services/rl/pipelines/schema_migrations.py
  services/rl/pipelines/seed_config.py
  services/rl/prefs/config_prefs.yaml
  services/rl/prefs/eval_prefs.py
  services/rl/prefs/filters.py
  services/rl/prefs/prepare_pairs.py
  services/rl/prefs/train_dpo.py
  services/rl/requirements.txt
  services/rl/rewards/reward_validator.py
  services/rl/verifier/response_verifier.py
  services/rl/verifier/self_correction.py
  services/rl/weights/dpo/v1/adapter.safetensors
  services/rl/weights/dpo/v1/manifest.json
  watchdog/iq_gates_prefs.yaml
Due: generate-api-docs, validate-documentation, auto-update-docs

📊 T8 DASHBOARD KIT + FINAL CHECKLIST: Complete monitoring & planning system
  .github/workflows/t8-nightly.yml
  DAYTIME_CLAUDE_TASKS.md
  Makefile
  T8_FINAL_CHECKLIST.md
  ops/dashboards/README.md
  ops/dashboards/dashboard.md
  ops/dashboards/make_fake_history.py
  ops/dashboards/render_dashboard.py
  ops/scripts/apply_suggestions.py
  ops/scripts/intent_tuner.py
  ops/scripts/overnight_optimizer.py
Due: validate-documentation, update-mkdocs-config, auto-update-docs

🚀 T9 Multi-Agent System Complete + CI fixes
  .github/workflows/rl-live-wire.yml
  .github/workflows/t9-nightly.yml
  AGENTS.md
  Makefile
  PRIORITIZED_BACKLOG.md
  PROJECT_STATUS.md
  T9_CLAUDE_CODE_INSTRUCTIONS.md
  T9_README.md
  ops/checklists/MORNING_CHECKLIST.md
  ops/config/t9_agents.yaml
  ops/config/t9_realdata.yaml
  services/rl/prefs/agents/judge.py
  services/rl/prefs/agents/pairwise.py
  services/rl/prefs/eval_multi_agent.py
  services/rl/prefs/realdata_adapter.py
Due: generate-api-docs, validate-documentation, update-mkdocs-config, auto-update-docs

📚 DOCUMENTATION ROADMAP: Post-T8/T9 development phases
  PRIORITIZED_BACKLOG.md
  PROJECT_STATUS.md
  ROADMAP.md
Due: validate-documentation

🔧 OLLAMA STABILITY FIX: Micro quota increase resolves routing issues
  docker-compose.yml
Due: auto-update-docs

🚀 DPO TRAINING INFRASTRUCTURE COMPLETE: Mac MPS-optimized training with 3,226 preference pairs
  configs/train_mac.yaml
  scripts/build_hh_dpo.py
  scripts/build_pku_dpo.py
  scripts/combine_v1.py
  scripts/generate_sv_synth_pairs.py
  scripts/train_dpo_mac.py
  scripts/translate_pairs_en2sv.py
Due: auto-update-docs

📚 AGENTS.md DPO BREAKTHROUGH UPDATE: Live training progress + comprehensive documentation
  AGENTS.md
  DPO_TRAINING_BREAKTHROUGH_2025-09-09.md
Due: validate-documentation

🧹 MAJOR CLEANUP: 13.6GB disk space reclaimed + improved .gitignore
  .gitignore
Due: none

🚀 ALICE V2 FRONTEND COMPLETE: Advanced HUD system with enterprise integration
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/globals.css
  apps/web/src/app/hud-demo/components/alice-hud.tsx
  apps/web/src/app/hud-demo/layout.jsx
  apps/web/src/app/hud-demo/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
Due: none

🎨 LAYOUT RESTORE: Header/footer återställd till originaldesign från commit 30ef3b2
  apps/web/src/app/hud-demo/components/alice-hud.tsx
Due: none

Add files via upload
  README.md
Due: validate-documentation, update-mkdocs-config

Add files via upload
  hud.png
Due: none

Path conditions:
  update-fibonacci-docs: any of: ^services/orchestrator/src/config/fibonacci\.py$
  update-cache-docs: any of: ^(services/.*cache.*\.py|CACHE\.md)$
  generate-api-docs: any of: ^services/.*\.py$
  validate-documentation: any of: ^.*\.md$
  update-mkdocs-config: any of: ^(docs/.*\.md|.*README\.md|mkdocs\.yml)$
  auto-update-docs: any of: ^(services/.*\.py|docs/.*\.md|.*\.yml|.*\.yaml)$
